.accessContainer{
  max-width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 0.4rem;      

  p{
    font-size: 0.8rem;

    a{
      font-weight: 700;
      cursor: pointer;
      
      &:hover{
        text-decoration: underline;
      }
    }
  }
}