.cartPageWrapper{
  width: clamp(200px, 100%, 1570px);
  min-height: 200px;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  background-color: rgb(var(--light-color));

  &>main{
    flex: 1;
    background-color: deepskyblue;
  }

  &>aside{
    min-width: 275px;
    background-color: crimson;
  }
}