@import '../../global/responsive.scss';

.searchContainer{
  flex: 1;
  max-width: 675px;
  height: 38px;
  position: relative;
  display: flex;
  align-items: center;

  input{
    flex: 1;
    height: 100%;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    outline: none;
    border: solid 2px transparent;
    color: rgb(var(--text-dark));
    font-size: 0.9rem;
    font-family: Poppins, sans-serif;
    border-radius: 0.25rem;

    &:focus{
      border: solid 2px rgb(var(--contrast-color), 50%);
    }

    @include for-size(smallDesktop){
      width: 100%;
      padding: 0.75rem 1.7rem 0.75rem 0.7rem;
      font-size: 0.825rem;
    }
  }   
  button{
    position: absolute;    
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: filter 0.17s linear;

    &:hover{
      filter: brightness(1.25);
    }

    &.searchImage{
      right: 2px;
      display: none;
      color: rgba(var(--text-dark), 0.66);

      @include for-size(smallDesktop){
        display: block;
      }  
    }

    &.arrowImage{
      right: -25px;

      @include for-size(smallDesktop){
        display: none;
      }    
  
      svg{        
        color: rgb(var(--contrast-color));
      } 
    }    
  }      
}