@import '../../global/responsive.scss';

$header-children-width: clamp(200px, 100%, 1500px);

.header{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(var(--theme-color));
  color: rgb(255 255 255);

  main{
    width: $header-children-width;
    height: 112px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @include for-size(smallDesktop){
      height: 60px;
      gap: 1rem;
      padding: 1rem 0.2rem 1rem 1rem;

      .leftHamburger{
        display: none;
      }
    }     

    .logoBig{
      width: 150px;
      height: 100%;
      position: relative;

      @include for-size(smallDesktop){
        display: none;
      }      
    }   
    .logoMini{
      width: 50px;
      height: 50px;
      position: relative;
      display: none;

      @include for-size(smallDesktop){
        display: block !important;
      }
    }

    .iconsContainer{
      height: 60px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 2rem;

      a{
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: filter 0.1s linear;
        opacity: 0.75;
        font-size: 2rem !important;

        &:hover{
          filter: brightness(.9);
        }

        &:not(.showInSmall){
          @include for-size(smallDesktop){
            display: none;
          }
        }
      }
    }

    .rightHamburger{
      --color: rgba(var(--white), 0.6);
      display: none;
      @include for-size(smallDesktop){
        display: block;
      }
    }
  }
  .navContainer{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--contrast-color));

    @include for-size(smallDesktop){
      display: none;
    }

    nav{
      width: $header-children-width;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      span{
        height: 100%;
        flex: 4;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        font-size: 0.88rem;
        background-color: rgb(var(--contrast-color));
        cursor: pointer;

        &:hover{
          background-color: rgb(var(--theme-color-dark));
        }

        &:first-child{
          flex: 5;
          display: flex;
          gap: 0.7rem;

          &:hover > svg{
            transform: rotate(90deg);
          }
          &:hover > .dropdownMenu{
            display: flex;
          }

          svg{
            transition: transform 0.3s ease-in-out;
            transform: rotate(-90deg);
          }
        }

        &:not(:first-child)::before{
          content: '';
          width: 1px;
          height: 85%;
          position: absolute;
          left: 0;
          background-color: rgba(var(--white), 25%);
        }

        .dropdownMenu{
          position: absolute;
          min-width: 100%;
          height: 175px;
          top: 35px;
          left: 0;
          display: none;
          z-index: 5;
          background-color: rgba(var(--white), 100%);

          ul{
            width: 100%;
            color: rgb(var(--text-soft-dark));
            font-weight: 400;
            background-color: rgb(var(--light-color));

            li{              
              display: flex;
              align-items: center;
              background-color: rgb(var(--light-color));

              a{
                width: 100%;
                height: 100%;
                padding: 0.25rem 1rem;
              }

              &:hover{
                filter: brightness(0.9);
              }
            }
          }
        }
      }
    }
  }
}